/* CSS Formatting Document */

body {
	color: #000000;
	background-color: #FFFFFF;
	font: 12pt Georgia, "Times New Roman", Times, serif;
	margin: 5pt;
	border: thick solid black;
}
/*normal links color */
a:link{
  color: #084048;
}
/*visited links*/
a:visited{
  color: #10A7A5;
}
/*hovered links*/
a:hover{
  color: #CC3300;
}

/*definition lists*/
dl dt{
	font-size: 1.1em;
	font-weight: bold;
	color: #CC3300;
	margin: 5pt;
}

dl dd{
	margin-right: 50px;
	padding-bottom: 25px;
}
/*Header stuff */
header{
	padding-left: 250px;
	background-image: url(../images/przlogo.gif);
	background-repeat: no-repeat;
	font-family: Garamond, serif;
}

header h1{
	font-size: 2em;
	font-weight: bold;
}
header h2{
	font-size: 1.6em;
	font-style: italic;
	text-align: center;
}

/*Site navigation*/
nav{
	font-family: "Gil Sans", Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding: 10px 20px;
}

nav ol li{
	font-family: 'Didact Gothic', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
	color: #252550;
	letter-spacing: -1px;
	display: inline;
	padding: .2em 1em;
	border-left: thin solid #084048;


}
#clientNav{
	font: 0.7em/1.1em Arial, Helvetica, sans-serif;
	border: thin black dotted;
	background-color: #D7EAE4;
}
/*display <li> elements in #clientNav to display inline*/
#clientNav li{
	display: inline;
}

/*content section */
section#content{
	padding: 20px;
	background-image: url(../images/prz_watermark.gif);
	background-position: center right;
	background-repeat: no-repeat;
}
#content h1{
	font-family: "Gil Sans", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
}
#content h2{
	font-family: "Gil Sans", Arial, Helvetica, sans-serif;
	font-size: 1.3em;
}
#content h3{
	font-family: "Gil Sans", Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}
.bigger{
	font-size: 1.1em;
	padding: 0.5em 0em;
}
#content ol{
	list-style: upper-roman;
	padding-bottom: 0.8em;
}
#content ol li ol li{
	list-style: lower-alpha;
}

/*footer Formatting*/
footer{
	background-color: #A1D1D1;
	padding: 15px;
}
footer p{
	font-size: 0.8em;
	font-weight: bold;
	text-align: center;
	line-height: 1.1em;
	margin: 0px;
	padding: 0px;
}
